@import "../variables.scss";

.btn {
  background: $primary-bg-extra;
  color: $primary-color-text;
  border: 0;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
  }

  &--header-footer {
    color: $primary-color-text;
    min-height: 37px;
    width: 161px;
    font-size: 13px;
    line-height: 15px;
    font-family: FuturaDemiC;
    font-weight: bold;
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      width: 140px;
    }
    
    &:hover {
      border: 1px solid $primary-color-text;
      background: rgba(0, 0, 0, 0);
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &--hero {
    min-width: 207px;
    min-height: 51px;
    border-radius: 2px;
    background: $primary-bg-extra;
    transition: 0.2s;
    font-weight: bold;
    &:hover {
      background: rgba(0, 0, 0, 0);
      border: 1px solid $primary-color-text;
    }
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  &--form {
    width: 200px;
    min-height: 51px;
    font-family: FuturaDemiC;
    z-index: 10;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0);
      border: 1px solid $primary-bg-extra;
      color: $primary-color-text-extra;
    }
    @media screen and (max-width: 991px) {
      min-width: 90%;
    }
  }

  &--price {
    text-align: center;
    width: 75%;
    min-height: 54px;
    font-family: Yeseva One;
    font-size: 18px;
    transform: translateY(50%);
    &:hover {
      background: $secondary-bg;
      border: 1px solid $primary-bg-extra;
      color: $primary-color-text-extra;
    }
    @media screen and (min-width: 320px) and (max-width: 440px) {
      font-size: 12px;
    }
  }

  &--form-types {
    min-width: 213px;
    max-width: 213px;
    min-height: 51px;
    padding: 10px;
    border: 0;
    text-align: center;
    color: white;
    font-family: FuturaDemiC;
    &:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0);
      outline: 1px solid $primary-color-text;
    }
  }

  &--team {
    text-align: center;
    font-family: "Yeseva One";
    font-size: 13px;
    width: 233px;
    padding: 10px;
    min-height: 44px;
    &:hover {
      background: rgba(0, 0, 0, 0);
      border: 1px solid $primary-bg-extra;
      color: $primary-color-text-extra;
    }
  }
}

.slider__btn {
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
  background: transparent;
  padding: 10px;
  color: #ffffff4d;
  font-size: 14px;
  font-family: Yeseva One;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    color: #e3b873;
    -webkit-box-shadow: 0px 1px 0px 0px rgb(227, 184, 115);
    -moz-box-shadow: 0px 1px 0px 0px rgb(227, 184, 115);
    box-shadow: 0px 1px 0px 0px rgb(227, 184, 115);
  }
  @media screen and (min-width: 1100px) {
    font-size: 13px;
  }
  @media screen and (max-width: 991px) {
    font-size: 12px;
  }
}
