@import "../variables.scss";

.clients {
  &__bg {
    background-image: url("/src/assets/img/team-client-bg.png");
    background-size: contain;
    background-position: center center;
    @media screen and (max-width: 991px) {
      background: transparent;
    }
  }

  &__list-position {
    margin-left: auto;
    margin-right: auto;
  }

  &__heading-wrapper {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 345px;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    font-family: "Yeseva One";
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: normal;
    margin-top: 0;
    @media screen and (max-width: 991px) {
      color: $primary-color-text;
      padding: 10px;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    &::after {
      content: url("/src/assets/img/clients-logo.png");
    }
  }

  &__subheading {
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    margin-top: 29px;
    margin-bottom: 39px;
    color: $darken-color-text;
    @media screen and (max-width: 991px) {
      color: $primary-color-text;
      padding: 10px;
    }
  }

  &__list-wrapper {
    margin-bottom: 159px;
    padding: 10px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__list-container {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__client {
    border-radius: 100px;
    max-width: 77px;
    max-height: 77px;
  }

  &__desc {
    font-family: "Yeseva One";
    font-size: 18px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    max-width: 185px;
    color: $darken-color-text;
  }

  &__wrapper-position {
    display: flex;
  }

  &__comment-container {
    padding-top: 20px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__comment {
    color: $color-text-cards;
    font-family: FuturaBookC;
    font-size: 15px;
    line-height: 27px;
    max-width: 311px;
    padding: 10px;
  }

  &__contain-wrapper {
    background: $secondary-bg;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin: 5px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    max-width: 33.3%;
    height: 100%;
    @media screen and (max-width: 991px) {
      background: transparent;
    }
  }

  &__info-wrapper {
    display: flex;
    flex-direction: row;
    transform: translateY(50%);
  }

  &__info-container {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 0;
    padding: 5px;
    color: $primary-color-text;
    font-family: "Yeseva One";
    font-size: 17px;
    background: $primary-bg-extra;
    margin-right: 17px;
    margin-left: -15px;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    flex: 0 0 auto;
    &:hover {
      cursor: pointer;
    }
  }

  &__btn-container {
    display: flex;
    justify-content: space-evenly;
    background: $primary-bg-extra;
    width: 147px;
    margin-left: 5px;
    padding: 5px;
  }

  &__info-desc {
    padding: 7px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 24px;
    flex: 0 0 auto;
    max-width: 100px;
    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    margin-top: auto;
    margin-bottom: auto;
  }

  &__question-form {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 991px) {
      margin-top: 0;
    }
  }

  &__address-wrapper {
    display: flex;
    justify-content: center;
    background-image: url("/src/assets/img/clients-address.png"), url("/src/assets/img/clients-address-darken.png");
    background-size: cover;
    background-position: center center;
    margin-bottom: -5px;
    @media screen and (max-width: 991px) {
      background: transparent;
    }
  }

  &__address-container {
    padding-top: 222px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 52px;
    @media screen and (max-width: 991px) {
      padding-top: 100px;
      margin-top: 46px;
    }
  }

  &__address {
    font-family: "Yeseva One";
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 26px;
    color: $primary-color-text-extra;
    line-height: 27px;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    @media screen and (max-width: 991px) {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 23px;
    }
  }

  &__email-inst {
    display: flex;
    justify-content: center;
    margin-bottom: 43px;
    @media screen and (max-width: 991px) {
      margin-bottom: 38px;
    }
  }

  &__email {
    padding-right: 5px;
    flex: 0 0 auto;
    &::after {
      content: url("/src/assets/img/clients-email.png");
    }
  }

  &__inst {
    padding-left: 5px;
    flex: 0 0 auto;
    &::after {
      content: url("/src/assets/img/clients-instagram.png");
    }
  }

  &__map-container {
    margin-bottom: 65px;
    @media screen and (max-width: 991px) {
      margin-bottom: 31px;
    }
  }

  &__lower-container {
    display: flex;
    justify-content: space-evenly;
    background: $primary-bg;
    min-height: 123px;
    padding: 10px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__lower-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: FuturaDemiC;
    color: #e3b873;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 992px) and (max-width: 1099px) {
      font-size: 13px;
    }
  }

  &__menu-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: FuturaBookC;
  }

  &__lower-number {
    color: #e3b873;
    border-bottom: 1px solid #e3b873;
    margin-right: 60px;
    font-size: 14px;
    font-family: FuturaDemiC;
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      margin-right: 10px;
      font-size: 13px;
    }
  }

  &__lower-phone {
    margin-bottom: auto;
    margin-top: auto;
  }

  &__data-container {
    display: flex;
    justify-content: center;
    z-index: 5;
    margin-top: 49px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 991px) {
      margin-top: 13px;
      margin-bottom: 67px;
    }
  }

  &__map-pc {
    width: 880px;
    height: 466px;
  }
  
  &__map-mob {
    @media screen and (max-width: 420px) {
      max-width: 265px;
      max-height: 200px;
    }
    @media screen and (min-width: 421px) and (max-width: 470px) {
      max-width: 340px;
      max-height: 200px;
    }
    @media screen and (min-width: 471px) and (max-width: 650px) {
      max-width: 450px;
      max-height: 250px;
    }
    @media screen and (min-width: 651px) and (max-width: 991px) {
      max-width: 620px;
      max-height: 350px;
    }
  }
}

.form {
  &__heading-container {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }

  &__data-wrapper {
    display: flex;
    justify-content: center;
    color: $primary-color-text;
    @media screen and (max-width: 991px) {
      justify-content: center;
      flex-direction: column;
      padding: 15px;
    }
  }

  &__data-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-right: 29px;
    max-width: 30%;
    min-width: 30%;
    @media screen and (max-width: 991px) {
      margin-top: 0;
      margin-right: 0;
      max-width: 100%;
    }
  }

  &__data-container-phone {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 29px;
    max-width: 30%;
    min-width: 30%;
    @media screen and (max-width: 991px) {
      margin-left: 0;
      margin-top: 63px;
      max-width: 100%;
    }
  }

  &__data-heading {
    font-family: FuturaBookC;
    font-size: 15px;
    color: #ffffff80;
    max-width: 231px;
    word-wrap: break-word;
  }
  &__data-heading-question {
    font-family: FuturaBookC;
    font-size: 15px;
    color: #ffffff80;
    max-width: 415px;
    word-wrap: break-word;
  }

  &__question-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  &__question-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    min-width: 66%;
    max-width: 66%;
    @media screen and (max-width: 991px) {
      margin-top: 33px;
      max-width: 100%;
      padding: 15px;
    }
  }

  &__question-input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: $primary-color-text;
    font-family: FuturaBookC;
    font-size: 18px;
    padding-top: 7px;
    min-width: 363px;
    padding-bottom: 8px;
    @media screen and (max-width: 991px) {
      border-bottom: 1px solid $primary-color-text;
      max-width: 100%;
      min-width: 0;
    }
  }
}

#clients__btn {
  @media screen and (min-width: 992px) {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 35px;
  }
}
