@import "../variables.scss";

.control {
  &__types-background {
    background-image: url("/src/assets/img/BACKGROUND LINE.png");
    margin-top: 72px;
    @media screen and (max-width: 991px) {
      margin-top: 0;
    }
  }

  &__wrapper {
    margin-top: -400px;
    @media screen and (max-width: 991px) {
      margin-top: -10px;
      padding-top: 67px;
      background: $primary-bg;
    }
  }

  &__video-wrapper {
    display: flex;
    justify-content: center;
  }

  &__video {
    max-width: 817px;
    max-height: 434px;
    padding: 10px;
    @media screen and (max-width: 420px) {
      max-width: 250px;
      max-height: 150px;
    }
    @media screen and (min-width: 421px) and (max-width: 600px) {
      max-width: 410px;
      max-height: 205px;
    }
    @media screen and (min-width: 601px) and (max-width: 991px) {
      max-width: 550px;
      max-height: 250px;
    }
    @media screen and (min-width: 992px) and (max-width: 1000px) {
      max-width: 650px;
      max-height: 300px;
    }
  }

  &__subtext-line {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
    margin-top: 42px;
    height: 2px;
    @media screen and (max-width: 991px) {
      margin-top: 28px;
      margin-bottom: 21px;
    }
  }

  &__info-heading {
    color: #36363680;
    font-size: 15px;
    padding-bottom: 8px;
    line-height: 21px;
    max-width: 198px;
    font-family: FuturaBookC;
    @media screen and (max-width: 991px) {
      color: $color-text-cards;
    }
  }

  &__subtext-container {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 93px;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    font-weight: normal;
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
    color: #363636;
    @media screen and (max-width: 991px) {
      color: $primary-color-text;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 61px;
      max-width: 470px;
    }
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    margin-right: 58px;
    padding-bottom: 5px;
    max-width: 256px;
    margin-top: auto;

    ::placeholder {
      color: black;
      font-size: 18px;
      font-family: FuturaBookC;
      @media screen and (max-width: 991px) {
        color: $primary-color-text;
        background: $primary-bg;
        border: 0;
      }
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 63px;
      margin-right: 17px;
      margin-left: 17px;
      padding: 0;
      max-width: 100%;
    }
  }

  &__data {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  &__info-container-phone {
    display: flex;
    flex-direction: column;
    margin-right: 49px;
    padding-bottom: 5px;
    max-width: 256px;
    margin-top: auto;

    ::placeholder {
      color: black;
      font-size: 18px;
      font-family: FuturaBookC;
      @media screen and (max-width: 991px) {
        color: $primary-color-text;
        background: $primary-bg;
        border: 0;
      }
    }

    @media screen and (max-width: 991px) {
      margin-bottom: 28px;
      margin-right: 17px;
      margin-left: 17px;
      padding: 0;
      max-width: 100%;
    }
  }

  &__sub-info {
    border: 0;
    color: black;
    padding-bottom: 8px;
    border-bottom: 1px solid $color-text-cards;
    @media screen and (max-width: 991px) {
      background: transparent;
    }
  }

  &__data-container {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    z-index: 5;
    max-width: 285px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__data-subtext {
    font-family: FuturaBookC;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    font-size: 16px;
    color: $primary-color-text;

    &:hover {
      cursor: pointer;
    }
  }

  &__sub-btn {
    display: flex;
    justify-content: center;
  }

  &__data-mob-subtext {
    color: $primary-color-text;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  &__btn-container {
    margin-top: auto;
    @media screen and (max-width: 991px) {
      display: flex;
      justify-content: center;
      margin-bottom: -25px;
    }
  }

  &__mob-data-container {
    display: none;
    @media screen and (max-width: 991px) {
      display: flex;
      margin-left: 17px;
      padding-bottom: 62px;
    }
  }
}

#play-btn {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  z-index: 10;
  transition: 0.25s;
}

#play-btn:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}
.play {
  display: flex;
}
.o {
  display: none;
}

.fadeOut {
  display: none;
}
.fadeIn {
  display: flex;
}

.video {
  &__play-container {
    margin-top: 30px;
    display: table;
    width: auto;
    position: relative;
    margin-bottom: 10px;
    @media screen and (max-width: 991px) {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }

  &__play {
    background-image: url("/src/assets/svg/play.svg");
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-size: contain;
    background-position: center;
  }

  &__width {
    display: flex;
    justify-content: center;
    max-width: 817px;
  }
}

.data {
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid $primary-bg-extra;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      flex: 0 0 auto;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox:checked + label:before {
    border-color: $primary-bg-extra;
    background-color: $primary-bg-extra;
    background-image: url("/src/assets/img/checkbox-item.png");
  }
}
