@import "../variables.scss";

.design {
  &__wrap {
    background: linear-gradient(to top, #131313 55%, #ffffff 55%);
  }

  &__wrapper {
    @media screen and (max-width: 991px) {
      background: $primary-bg;
      width: 100%;
      padding-top: 42px;
    }
  }

  &__heading-container {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: normal;
    font-family: Yeseva One;
    max-width: 190px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 991px) {
      color: $primary-color-text;
      font-size: 22px;
      margin-bottom: 15px;
    }
  }

  &__subheading {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: FuturaBookC;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 38px;
    font-weight: normal;
    max-width: 662px;
    margin-left: auto;
    margin-right: auto;
    color: $darken-color-text;
    @media screen and (max-width: 991px) {
      text-align: center;
      color: $primary-color-text;
      padding: 10px;
      font-size: 15px;
      line-height: 20px;
      max-width: 320px;
      margin-top: 22px;
      margin-bottom: 0;
    }
  }

  &__price-list-container {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      padding: 10px;
    }
  }

  &__examples-container {
    max-width: 33.3%;
    padding: 10px;
    @media screen and (max-width: 991px) {
      max-width: 100%;
      margin: auto;
    }
  }

  &__price-items {
    margin-top: 20px;
    width: 100%;
    height: auto;
    @media screen and (min-width: 1100px) {
      margin: 0;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      width: 97%;
      padding: 5px;
    }
  }

  &__sub-info {
    font-size: 15px;
    font-family: FuturaBookC;
    line-height: 25px;
    color: #959595;
    padding: 5px;
    max-width: 230px;
    @media screen and (max-width: 991px) {
      font-size: 13px;
      line-height: 22px;
    }
  }

  &__steps-wrapper {
    background: $primary-bg;
    margin-top: -550px;
    padding-bottom: 95px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__desc-work-container {
    padding-top: 440px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    max-width: 375px;
  }

  &__desc-heading {
    color: white;
    font-size: 15px;
    font-family: FuturaDemiC;
    font-weight: normal;
  }

  &__steps-heading {
    font-family: Yeseva One;
    font-size: 27px;
    color: $primary-color-text-extra;
    margin-top: 30px;
    line-height: 37px;
    font-weight: normal;
    &:after {
      content: url("/src/assets/img/steps-line.png");
      position: relative;
      left: 20px;
      bottom: 6px;
    }
  }

  &__slider-wrap {
    margin-left: 30px;
  }

  &__slider-wrapper {
    display: flex;
    padding-top: 514px;
    color: white;
    flex-direction: column;
  }

  &__slides {
    display: flex;
    overflow: hidden;
  }

  &__steps-slider {
    height: 25px;
    max-width: 30px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }
  
  &__desc-slider {
    height: 100%;
    max-width: 350px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  &__desc-slides-wrapper {
    margin-top: 82px;
  }

  &__img-container {
    margin-top: 45px;
  }

  &__img {
    width: 99%;
  }

  &__slider-nav {
    display: flex;
    margin-top: 30px;
  }

  &__nav {
    margin-left: 10px;
    margin-right: 10px;
  }

  &__slider-point {
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    background: #ffffff4d;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background: $secondary-bg;
    }
  }

  &__steps-number {
    font-family: "Yeseva One";
    font-size: 18px;
    color: $primary-color-text;
    font-weight: normal;
    width: 100%;
    margin: auto;
  }

  &__steps-heading {
    font-family: "Yeseva One";
    font-size: 27px;
    color: $primary-color-text-extra;
    font-weight: normal;
    line-height: 38px;
    max-width: 295px;
    margin-top: 18px;
  }

  &__steps-subheading {
    font-family: "Yeseva One";
    font-size: 15px;
    color: $primary-color-text-extra;
    padding-top: 22px;
    font-weight: normal;
    line-height: 23px;
  }

  &__steps-subtext {
    font-family: FuturaBookC;
    font-size: 15px;
    color: $primary-color-text;
    padding-top: 16px;
    line-height: 26px;
    font-weight: normal;
  }
}

.slider {
  &__container-bottom {
    display: flex;
    flex-direction: column;
  }

  &__number {
    font-family: "Yeseva One";
    font-size: 15px;
    width: 20px;
    color: $color-text-cards;

    &:hover {
      cursor: pointer;
    }
  }

  &__subtext {
    font-family: FuturaBookC;
    font-size: 15px;
    padding-top: 17px;
    max-width: 160px;
    color: $color-text-cards;
    &:hover {
      cursor: pointer;
    }
  }

  &__change {
    &:hover {
      cursor: pointer;
    }
  }
}

.slider__container-up {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  max-width: 150px;
  &:hover span {
    color: $primary-color-text;
    transition: 0.2s;
  }
}

.slider__container-bottom {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin-top: 36px;
  max-width: 150px;
  &:hover span {
    color: $primary-color-text;
    transition: 0.2s;
  }
}

.slider__container-bottom-2 {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  padding-left: 121px;
  margin-top: 36px;
  &:hover span {
    color: $primary-color-text;
    transition: 0.2s;
  }
}

.slider__container-bottom-3 {
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  padding-left: 72px;
  margin-top: 36px;
  &:hover span {
    color: $primary-color-text;
    transition: 0.2s;
  }
}
