@import "../variables.scss";

.form {
  display: flex;
  flex-direction: column;
  background: $primary-bg;

  &__heading {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    max-width: 275px;
    margin-left: auto;
    margin-right: auto;
    font-family: FuturaDemiC;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 39px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 427px;
  }

  &__data-lower {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    max-width: 427px;
  }

  &--clients {
    min-width: 883px;
    background-image: url("/src/assets/img/clients-form-bg.png");
    margin-bottom: -222px;
    @media screen and (max-width: 991px) {
      background: transparent;
      margin-bottom: -100px;
      min-width: 100%;
    }
  }

  &--types {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 1100px) {
      margin-right: 0;
      padding-left: 10px;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid $primary-bg-extra;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      flex: 0 0 auto;
    }
    &:hover {
      cursor: pointer;
    }
  }
  
  &__checkbox:checked + label:before {
    border-color: $primary-bg-extra;
    background-color: $primary-bg-extra;
    background-image: url("/src/assets/img/checkbox-item.png");
  }

  &__input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: $primary-color-text;
    font-family: FuturaBookC;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 8px;
  }

  &__label {
    color: $primary-color-text;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }

  &--text-darken {
    color: $darken-color-text;
  }

  &--border-darken {
    @media screen and (min-width: 992px) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
  }

  &--min-width {
    min-width: 231px;
  }

  &--book {
    font-family: FuturaBookC;
  }

  &--demic {
    font-family: FuturaDemiC;
  }

  &--yaseva {
    font-family: Yaseva One;
  }

  &--type-position {
    margin-left: 40px;
    margin-right: 40px;
  }

  &--bold {
    font-weight: bold;
  }
}

input::placeholder {
  color: white;
}
