@import "../variables.scss";

.hamburger {
  &__menu-wrapper {
    display: none;
    @media screen and (max-width: 1099px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 40px;
      z-index: 50;
    }
  }

  &__menu-icon {
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__menu-icon > span {
    width: 25px;
    height: 1px;
    display: block;
    background-color: $secondary-bg;
    transition: all 0.3s ease-in-out;
    justify-self: end;
    margin: 5px;
  }

  &__menu-icon > span:nth-child(1) {
    width: 25px;
  }

  &__menu-icon > span:nth-child(2) {
    width: 25px;
  }

  &__menu-icon.active span:nth-child(1) {
    transform-origin: center center;
    transform: rotate(-45deg) translate(-1%, 0);
    width: 30px;
    margin: 0;
  }

  &__menu-icon.active span:nth-child(2) {
    display: none;
    margin: 0;
  }

  &__menu-icon.active span:nth-child(3) {
    transform-origin: center center;
    transform: rotate(45deg) translate(-1%, 0);
    width: 30px;
    margin: 0;
  }

  &__items {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    margin-top: 15%;
  }

  &__menu-list {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__menu-link {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-family: FuturaBookC;
    margin-top: 40px;
    &:hover {
      color: #e3b873;
      cursor: pointer;
      transition: 0.17s;
    }
  }
}

.hamburger__menu {
  display: none;
}
.show {
  display: flex;
  justify-content: center;
  background: $primary-bg;
  touch-action: none;
}
