@import "../variables.scss";

.header {
  display: flex;
  min-height: 73px;
  background: $primary-bg;
  position: relative;
  z-index: 10;
  padding: 10px;
  
  // @include breakpoint(sl) {
  //   background: red;
  // }
  // todo ПРОВЕРИТЬ ПОЧЕМУ НЕ РАБОТАЕТ

  &__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: FuturaDemiC;
    color: #e3b873;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 991px) {
      font-size: 12px;
    }
    @media screen and (max-width: 1099px) {
      font-size: 12px;
    }
    @media screen and (max-width: 320px) {
      width: 48%;
    }
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  &__phone {
    font-family: FuturalDemiC;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
  }

  &__number {
    color: #e3b873;
    border-bottom: 1px solid #e3b873;
    margin-right: 20px;
    font-size: 14px;
    font-family: FuturaDemiC;
    @media screen and (max-width: 991px) {
      font-size: 12px;
      color: $primary-color-text;
      border: 0;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      font-size: 12px;
    }
    @media screen and (max-width: 320px) {
      font-size: 10px;
    }
  }

  &__number-container {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    max-width: 160px;
  }
}
