@import "../variables.scss";

.hero {
  &__wrapper {
    display: flex;
    background: url("/src/assets/img/hero-bg-darker.png"), url("/src/assets/img/heroBG.png"), no-repeat;
    background-size: cover;
    position: relative;
    z-index: 5;
    min-height: 707px;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
  }

  &__main-heading {
    color: white;
    font-size: 40px;
    font-family: "Yeseva One";
    line-height: 53.13px;
    font-weight: normal;
    max-width: 550px;
    margin-left: 0;
    margin-bottom: 19px;
    @media screen and (max-width: 991px) {
      font-size: 23px;
      line-height: 30px;
      max-width: 330px;
      margin-bottom: 16px;
    }
  }

  &__second-heading {
    color: #e3b873;
    font-size: 40px;
    line-height: 53.13px;
    font-weight: normal;
    @media screen and (max-width: 991px) {
      font-size: 23px;
    }
  }

  &__subtext-container {
    font-size: 22px;
    color: white;
    margin-left: 0;
    @media screen and (max-width: 991px) {
      font-size: 15px;
      padding: 0;
    }
  }

  &__subtext {
    line-height: 29.88px;
    font-weight: normal;
    font-family: FuturaBookC;
    font-size: 22px;

    @media screen and (max-width: 911px) {
      font-size: 18px;
    }
  }

  &__inst-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: $primary-color-text;
    background: $primary-bg;
    min-width: 72px;
    flex: 0 0 auto;
    padding: 10px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__inst {
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    font-family: FuturaDemiC;
    font-size: 14px;
    color: $primary-color-text-extra;
    &:after {
      content: url("/src/assets/img/inst-line.png");
      position: relative;
      left: 2px;
      top: 10px;
    }
  }

  &__main-container {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 550px;
    @media screen and (max-width: 991px) {
      margin: 0;
      padding: 10px;
      max-width: 350px;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__btn-container {
    display: flex;
    padding-top: 41px;
    padding-bottom: 60px;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      padding-top: 32px;
      padding-bottom: 15px;
    }
  }

  &__first-btn {
    padding-right: 20px;
    @media screen and (max-width: 991px) {
      padding-bottom: 26px;
      padding-right: 0;
    }
  }

  &__btn-subtext {
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: FuturaDemiC;

    &:hover {
      cursor: pointer;
    }
  }
}
