@import '../variables.scss';

@mixin breakpoint($breakpoint) {
  @if $breakpoint == '' {
    @content;
  }

 @else {
    // Retrieves the value from the key
    $value: map-get($breakpoints, $breakpoint);

    // If the key exists in the map
    @if $value != null {
      // Prints a media query based on the value
      @media (max-width: $value) {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
      @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }
}

$breakpoints: (
phone: '480px',
m: '640px',
tablet: '768px',
sl: '992px',
hd-small: '1130px',
hd: '1366px',
small-desktop: '1441px'
) !default;