@import "../normalize.scss";

.navigation {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: FuturaBookC;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__wrap {
    max-width: 545px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
  }

  &__data {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
    font-family: FuturaBookC;
    max-width: 30px;
    &:hover {
      color: #e3b873;
      cursor: pointer;
      transition: 0.17s;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      font-size: 12px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
