@import "../variables.scss";

.price {
  &__container {
    position: relative;
    bottom: 100px;
    max-width: 330px;
    min-width: 300px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding-top: 5px;
    @media screen and (min-width: 1100px) {
      margin-right: auto;
      margin-left: auto;
    }
    @media screen and (max-width: 991px) {
      margin-left: 0;
      min-width: 270px;
      max-width: 85%;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      max-width: 320px;
    }
  }

  &__heading-container {
    margin: 15px;
  }

  &__heading {
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: normal;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: -10px;
    color: $darken-color-text;
    @media screen and (max-width: 991px) {
      font-size: 15px;
    }
  }

  &__sub-info {
    font-size: 15px;
    font-family: FuturaBookC;
    line-height: 25px;
    color: #959595;
    padding: 3px;
    max-width: 200px;
    @media screen and (max-width: 991px) {
      font-size: 13px;
      line-height: 22px;
    }
  }
}
