@import "../variables.scss";

.slider {
  &__img-slide {
    width: 100%;
  }
}

.projects {
  background: $primary-bg;
  background-image: url("/src/assets/img/projects-bg.png");
  background-position: center center;
  padding-bottom: 415px;
  @media screen and (max-width: 991px) {
    background: $primary-bg;
    padding: 0;
    margin-top: 0;
  }

  &:hover {
    cursor: pointer;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: -65px;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &__heading-container {
    margin-top: 195px;
    padding-right: 20px;
    @media screen and (max-width: 991px) {
      margin-top: 36px;
      margin-bottom: 22px;
      justify-content: center;
    }
  }

  &__heading {
    color: $primary-color-text-extra;
    font-size: 27px;
    line-height: 37.42px;
    font-weight: bold;
    max-width: 300px;
    font-family: YasevaOne;
    margin-bottom: 34px;
    &::after {
      content: url("/src/assets/img/projects-border.png");
      position: relative;
      bottom: 8px;
      left: 20px;
      @media screen and (max-width: 991px) {
        content: none;
        font-size: 22px;
        line-height: 30px;
        padding-bottom: 0;
      }
    }
  }

  &__subtext-container {
    margin: 30px 0 0 0;
  }

  &__subheading {
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 28.53px;
    color: $primary-color-text;
    font-weight: normal;
    @media screen and (max-width: 991px) {
      font-size: 14px;
      display: flex;
      justify-content: center;
      margin-bottom: 36px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__desc-name {
    margin-top: 29px;
    font-size: 18px;
    color: $primary-color-text-extra;
    font-weight: bold;
    font-family: YasevaOne;
  }

  &__value {
    font-size: 15px;
    font-family: FuturaBookC;
    line-height: 20px;
    color: $primary-color-text;
    margin-top: 10px;
    max-width: 112px;
  }

  &__navigation {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: space-evenly;
    width: 248px;
    margin-top: 65px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__slider {
    display: flex;
    overflow: hidden;
    max-width: 679px;
    margin-bottom: 50px;
    min-width: 0;
    overflow: hidden;
  }

  &__slider-size {
    overflow: hidden;
    max-width: 623px;
    padding-left: 10%;
    padding-right: 10px;
    @media screen and (max-width: 991px) {
      text-align: center;
      margin-bottom: 20px;
      max-width: 325px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      padding-left: 15px;
    }
    @media screen and (max-width: 1315px) {
      padding-left: 3%;
    }
  }

  &__desc-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
  }
}

.navigation {
  &__arrow-left {
    color: white;
    margin-bottom: 11px;
    margin-right: 20px;
    margin-top: 18px;
    &:hover {
      cursor: pointer;
    }
  }

  &__arrow-right {
    color: white;
    margin-bottom: 11px;
    margin-left: 129px;
    margin-top: 18px;
    &:hover {
      cursor: pointer;
    }
  }

  &__arrow-container {
    display: flex;
    justify-content: center;
  }
}

.swiper-button-img {
  position: absolute;
  bottom: 225px;
  right: 15px;
  &:hover {
    cursor: pointer;
  }
}

.swiper-button-img-mobile {
  display: flex;
  position: sticky;
  right: 30%;
  margin-top: auto;
  margin-bottom: auto;
  @media screen and (max-width: 760px) {
    right: 5%;
  }
}
