@import "../variables.scss";

.realize {
  &__main-wrapper {
    background-image: url("/src/assets/img/realize.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 230px;
    margin-bottom: 143px;

    @media screen and (max-width: 991px) {
      padding-top: 0;
      margin-bottom: 0;
      margin-top: 0;
      flex-direction: column;
      background: linear-gradient(to top, #131313 50%, #ffffff 50%);
    }
  }

  &__wrapper {
    display: flex;
    padding: 10px;
    @media screen and (max-width: 991px) {
      display: block;
    }
  }

  &__heading {
    font-family: Yeseva One;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: normal;
    color: $primary-color-text-extra;
    margin-bottom: 47px;
    margin-top: 0;
    padding: 10px;
    @media screen and (max-width: 991px) {
      display: flex;
      justify-content: center;
      font-size: 22px;
      line-height: 30px;
      margin-bottom: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__container {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
    @media screen and (max-width: 991px) {
      text-align: center;
      padding: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
    }
  }

  &__list-container {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    color: $primary-color-text;
    font-family: Proxima Nova;
    font-size: 20px;
    padding-left: 0;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__list-wrap {
    display: inline-block;
    width: max-content;
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 280px;
    &:hover {
      -webkit-box-shadow: 0 1px 0 0 rgb(227, 184, 115);
      -moz-box-shadow: 0 1px 0 0 rgb(227, 184, 115);
      box-shadow: 0 1px 0 0 rgb(227, 184, 115);
      color: $primary-color-text-extra;
      cursor: pointer;
    }
  }

  &__slider-second-item {
    position: relative;
    top: 25px;
  }

  &__slider-fourth-item {
    margin-top: 25px;
  }

  &__left-img {
    width: 354px;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    @media screen and (min-width: 1100px) {
      margin-top: -25px;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      margin-top: -25px;
    }
  }

  &__slides-nav-mob-left {
    position: absolute;
    bottom: 130px;
    left: 25%;
    z-index: 500;
  }

  &__slides-nav-mob-right {
    position: absolute;
    bottom: 130px;
    right: 25%;
    z-index: 500;
  }

  &__mob-nav {
    display: none;
    @media screen and (max-width: 991px) {
      display: flex;
    }
  }

  &__data {
    display: flex;
  }

  &__right-img {
    padding-left: 40px;
    margin-top: -80px;
    @media screen and (min-width: 1100px) {
      margin-top: -90px;
      padding-right: 10px;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      margin-top: -90px;
      padding-right: 10px;
    }
  }
}
