@import "../variables.scss";

.scroll {
  display: flex;
  justify-content: center;
  background: $primary-bg;
  max-width: 237px;
  min-height: 87px;
  margin-top: -48px;
  padding: 10px;
  z-index: 9;
  position: relative;
  color: $primary-color-text;
  font-family: Yeseva One;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    background: darken($color: $primary-bg, $amount: 40%);
  }

  @media screen and (max-width: 991px) {
    display: none;
  }

  &__desc {
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 120px;
    &:hover {
      cursor: pointer;
    }
  }
  
  &__arrow {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
