@import "../variables.scss";

.slider {
  &__img {
    height: 100%;
    max-width: 679px;
    overflow: hidden;
    position: relative;
  }

  &__img-mobile {
    height: 100%;
    max-width: 679px;
    overflow: hidden;
    position: relative;
  }

  &__data {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
    min-width: 0;
  }

  &__data-lower {
    display: flex;
    margin-top: 30px;
    overflow: hidden;
    min-width: 0;
  }

  &__realize {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  &__container {
    margin-bottom: 53px;
    margin-top: 107px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__width {
    width: 50%;
  }

  &__point {
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    background: #ffffff4d;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      background: $secondary-bg;
    }
  }

  &__slide {
    max-width: 679px;
    max-height: 482px;
    margin-right: 20px;
  }

  &__scroll {
    background: url("/src/assets/img/projects-slider-scroll.png");
    position: relative;
    z-index: 10;
    width: 54px;
    height: 54px;
    left: 0;
  }
  
  &__data {
    margin-top: 30px;
  }
}
.slider__img {
  max-width: 100%;
}
.slider-mobile-media {
  text-align: -webkit-center;
}
