@import "../variables.scss";

.team {
  &__wrapper {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #131313 100%, #ffffff 100%);
    @media screen and (max-width: 991px) {
      margin-top: 0;
    }
  }

  &__heading-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 74px;
    max-width: 425px;
  }

  &__heading {
    font-family: "Yeseva One";
    font-size: 20px;
    text-align: center;
    color: $primary-color-text;
    margin-bottom: 13px;
    font-weight: normal;
    @media screen and (max-width: 991px) {
      font-size: 22px;
    }
  }

  &__subheading {
    font-size: 20px;
    font-family: FuturaBookC;
    color: $primary-color-text;
    margin-top: 23px;
    text-align: center;
    line-height: 27px;
    font-weight: normal;
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 991px) {
      padding: 10px;
      font-size: 15px;
      max-width: 320px;
    }
  }

  &__workers {
    background: linear-gradient(to bottom, #131313 50%, #ffffff 50%);
    @media screen and (max-width: 991px) {
      background: linear-gradient(to bottom, #131313 100%, #ffffff 100%);
    }
  }

  &__photo-wrapper {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      justify-content: space-around;
    }
  }

  &__photo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: 233px;
    margin-left: 30px;
    margin-right: 60px;
    @media screen and (max-width: 991px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 150px;
    }
  }

  &__addition-img {
    position: absolute;
    left: -65px;
    top: -50px;
    flex: 0 0 auto;
    padding: 10px;
  }

  &__photo-addinfo-container {
    display: flex;
    justify-content: center;
    width: 272px;
  }

  &__photo-addinfo {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: $secondary-bg;
    bottom: -60px;
    text-align: center;
    max-width: 233px;
  }

  &__worker-photo {
    min-width: 272px;
  }

  &__slash-container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    @media screen and (max-width: 991px) {
      padding-top: 0;
      display: none;
    }
  }

  &__final-desc-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: FuturaBookC;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 88px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__final-desc {
    font-weight: normal;
    font-family: FuturaBookC;
    font-size: 20px;
    margin-top: 18px;
    max-width: 595px;
    color: $darken-color-text;
  }

  &__clients-background {
    background-image: url("/src/assets/img/BACKGROUND LINE.png");
    background-size: contain;
    background-position: center center;
    @media screen and (max-width: 991px) {
      background: $primary-bg;
      margin-top: -20px;
    }
  }
  &__name {
    padding-top: 22px;
    padding-bottom: 9px;
    font-family: "Yeseva One";
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    color: $darken-color-text;
  }

  &__profession {
    font-family: FuturaBookC;
    font-size: 18px;
    color: $color-text-cards;
    padding-bottom: 24px;
    margin-right: auto;
    margin-left: auto;
  }
}
