@import "../variables.scss";

.types {
  &__heading {
    font-size: 20px;
    font-weight: normal;
    padding: 10px;
    margin-bottom: 0;
    @media screen and (max-width: 991px) {
      font-size: 22px;
    }
  }

  &__examples-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 140px;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      margin-bottom: 0;
    }
  }

  &__examples {
    max-width: 33.3%;
    @media screen and (max-width: 991px) {
      padding: 10px;
      max-width: 100%;
    }
  }

  &__price-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  &__help-info {
    display: flex;
    position: relative;
    z-index: 1;
    flex-direction: row;
    margin-top: 38px;
    margin-left: 30px;
    @media screen and (max-width: 991px) {
      display: none;
      position: unset;
    }
  }

  &__help-img {
    background-image: url("/src/assets/svg/pig-bank.svg");
    background-position: left center;
    background-repeat: no-repeat;
    width: 94px;
    height: 94px;
  }

  &__help-description {
    color: #e3b873;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin-left: 25px;
    font-family: FuturaDemiC;
    max-width: 220px;
  }

  &__price-btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    min-width: 228px;
    height: 54px;
    background: #e3b873;
    margin-top: 26px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }

  &__form-container {
    min-width: 507px;
    background: black;
    display: flex;
    flex-direction: column;
    margin-top: 27px;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    &__examples-container {
      justify-content: flex-start;
      padding: 10px;
    }
  }

  &__examples-img {
    @media screen and (min-width: 1100px) {
      padding: 10px;
    }
  }

  &__left-img-container {
    position: absolute;
    left: 0;
    background-image: url("/src/assets/img/types-left-img.png");
    width: 575px;
    height: 75%;
    background-repeat: no-repeat;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }

  &__points-container {
    position: relative;
    counter-reset: section;
    left: 85px;
    top: 105px;
  }

  // &__points-container > .types__points:last-child::after {
  //   content: "";
  //   background: transparent;
  // }

  &__points {
    list-style-type: none;
    background: transparent;
    left: 90px;
    font-size: 18px;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 60px;
    max-width: 240px;
    text-align: center;

    &:before {
      position: absolute;
      left: -15px;
      counter-increment: section;
      content: counter(section);
      text-align: center;
      color: white;
      border-radius: 50%;
      padding: 16px;
      font-size: 17px;
      width: 20px;
      height: 20px;
      background: $primary-bg-extra;
      font-family: Yeseva One;
      z-index: 1;
    }
  }

  &__test {
    font-weight: normal;
    margin: 0;
    padding: 0;
    bottom: 15px;
    margin-left: 30px;
    color: $darken-color-text;
    height: calc(50% +30px);
    vertical-align: super;
    &::after {
      content: "";
      height: 90%;
      width: 4px;
      position: absolute;
      background: #e3b873;
      left: 10px;
      bottom: 20px;
    }
  }

  &__test-last {
    font-weight: normal;
    margin: 0;
    padding: 0;
    bottom: 15px;
    margin-left: 30px;
    color: $darken-color-text;
    height: calc(50% +30px);
    vertical-align: super;
  }

  &__data-wrapper {
    @media screen and (max-width: 991px) {
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    &:before {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      border: 1px solid $primary-bg-extra;
      margin-right: 0.5em;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      flex: 0 0 auto;
    }
  }

  &__checkbox:checked + label:before {
    border-color: $primary-bg-extra;
    background-color: $primary-bg-extra;
    background-image: url("/src/assets/img/checkbox-item.png");
  }

  &__submit-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 27px;
    margin-top: 30px;
  }
}

.subtitle {
  &__choises-list {
    background-image: url("/src/assets/img/types-fantasies.png");
    background-size: contain;
    background-position: center center;
  }
}

.examples {
  
  &__items {
    width: 100%;
    height: auto;
    @media screen and (min-width: 992px) and (max-width: 1099px) {
      width: 97%;
      padding: 5px;
    }
  }
}
