@import "./variables.scss";
@import "./normalize.scss";
@import "./components/index.scss";
@import "./fonts.scss";

.heading {
  font-family: Yeseva One;
  font-size: 20px;
  font-weight: normal;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 3px;
  margin-top: 0;
  color: $darken-color-text;
  @media screen and (max-width: 991px) {
    font-size: 22px;
  }

  &--logo-control {
    &::after {
      margin-left: auto;
      margin-right: auto;
      margin-top: -30px;
      content: url("/src/assets/img/control.png");
    }
  }

  &--media-color {
    @media screen and (max-width: 991px) {
      color: white;
    }
  }

  &--logo-types {
    &::after {
      margin-left: auto;
      margin-right: auto;
      content: url("/src/assets/svg/types.svg");
    }
  }

  &--logo-design {
    &::after {
      margin-left: auto;
      margin-right: auto;
      content: url("/src/assets/svg/design.svg");
    }
  }

  &--logo-team {
    &::after {
      margin-left: auto;
      margin-right: auto;
      content: url("/src/assets/svg/team.svg");
    }
  }

  &--logo-clients {
    &::after {
      margin-left: auto;
      margin-right: auto;
      content: url("/src/assets/svg/clients.svg");
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &--color-white {
    color: #ffffff;
  }

  &--margin-types {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: Yeseva One;
    margin-top: 147px;
    margin-bottom: 37px;
    @media screen and (max-width: 991px) {
      margin-top: 68px;
      margin-bottom: 40px;
    }
  }
}

#slider-img {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

#slider-img-mobile {
  display: none;
  @media screen and (max-width: 991px) {
    display: flex;
  }
}

#slider-top {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

#slider-lower {
  display: none;
  @media screen and (max-width: 991px) {
    display: flex;
    padding-left: 10px;
  }
}

#first {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

#second {
  display: none;
  @media screen and (max-width: 991px) {
    display: flex;
    max-height: 300px;
  }
}

#clients__info-up {
  @media screen and (max-width: 911px) {
    display: none;
  }
}

#clients__info-down {
  display: none;
  @media screen and (max-width: 911px) {
    display: flex;
  }
}

.adaptive-img {
  width: 100%;
  height: auto;
  
  &-height {
    width: 90%;
    height: 100%;
  }

  &-50 {
    min-width: 55%;
    min-height: 85%;
    object-fit: cover;
  }
}

.price {
  font-family: "Yeseva One";
  font-size: 18px;
  color: white;
}

.advantages {
  display: flex;
  justify-content: flex-start;
}

.advantages-list {
  margin-left: -650px;
}

.title {
  color: white;
  font-family: FuturaDemiC;
  font-size: 20px;
  text-align: center;
}

.sub-title__container {
  display: flex;
  flex-direction: column;
}

.sub-title {
  margin-left: 40px;
  color: #ffffff80;
  font-family: FuturaBookC;
  font-size: 15px;
  max-width: 340px;
  word-wrap: break-word;
}

.sub-title-checkbox__container {
  margin-left: 40px;
}

.info-logo__container {
  display: flex;
  background: #e3b873;
  border-radius: 100px;
  height: 72px;
  width: 72px;
}

.z-index {
  z-index: 10;
}
