/* Colors */
$darken-color-text: #363636;
$primary-color-text: #ffffff;
$primary-color-text-extra: #e3b873;
$primary-color-text-opacity: rgba(255, 255, 255, 0.3);
$color-text-second: #363636;
$color-text-second-extra: #181818;
$color-text-second-opacity: rgba(54, 54, 54, 0.5);
$color-text-cards: #959595;
$color-text-forms: #ffffff80;

/* Background */
$primary-bg: #131313;
$primary-bg-extra: #e3b873;
$secondary-bg: #ffffff;

/* Mixin  */
$breakpoints: (
  "md": (
    "(max-width: 992px)",
  ),
);

.container {
  max-width: 1238px;
}

.space--between {
  display: flex;
  justify-content: space-between;
}

.types__wrapper {
  .flex {
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.space--around {
  display: flex;
  justify-content: space-around;
}

.space--evenly {
  display: flex;
  justify-content: space-evenly;
}
.column {
  flex-direction: column;
}
.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
}
